@import "../../styles/vars.sass"

.valuation
  position: relative
  display: flex
  flex-direction: column
  background-color: $blue-ozone
  width: 600px
  height: 100vh
  overflow-y: scroll
  white-space: nowrap
  .borrow-section
    background-color: $white
    border-radius: 12px
    padding-bottom: 12px
    .row
      display: flex
      flex-direction: row
      align-items: center
      padding: 10px 8px
      justify-content: space-between
      &:nth-child(1)
        border-bottom: solid $grey-divider 1px !important
      .arrow-icon
          margin-left: 2px
          margin-right: 2px
      .right
        display: flex
        flex-direction: row
        align-items: center
        padding: 10px 8px
        justify-content: space-between
        .title
          font-style: normal
          font-weight: 400
          font-size: 14px
          letter-spacing: 0.5px
          color: $grey-text
        .value
          font-style: normal
          font-weight: 400
          font-size: 16px
          letter-spacing: 0.5px
          color: $textBlack
          margin-right: 2px
          margin-left: 2px
      .title
        font-style: normal
        font-weight: 400
        font-size: 14px
        letter-spacing: 0.5px
        color: $grey-text
      .value
        font-style: normal
        font-weight: 400
        font-size: 16px
        letter-spacing: 0.5px
        color: $textBlack
        margin-right: 2px
        margin-left: 2px
    .borrow-limit
      display: flex
      flex-direction: column
  .pay-button
    background-color: $primary
    color: $white
    position: sticky
    font-style: normal
    font-weight: 500
    font-size: 15px
    letter-spacing: 0.5px
    padding: 14px
    border-radius: 12px
    margin-left: 16px
    margin-right: 16px
    bottom: 16px
    text-align: center
    &.borrow
      background-color: $purple-heart
      &:hover
        background-color: rgba($purple-heart, 0.7)
    &:hover
      background-color: rgba($primary, 0.7)
    &:disabled
      background-color: $grey-divider
      pointer-events: none
  @include mq($until: tablet)
    width: 100%
  &-content
    padding-left: 16px
    padding-right: 16px
    padding-bottom: 16px
    height: 100%
    margin-bottom: 50px

.v-supply
  flex-direction: column
  margin-bottom: 8px
  padding-bottom: 1px
  background-color: $white
  border-radius: 12px
  &-insufficient-balance
    display: flex
    font-style: normal
    font-weight: 400
    font-size: 15px
    color: $red-alert
    justify-content: center
    margin-top: 6px
    margin-bottom: 5px
  &-content
    display: flex
    flex-direction: row
    background-color: $white
    border-radius: 12px
    align-items: center
    padding: 12px 8px
    &--right
      display: flex
      flex-direction: column
      flex: 1
      margin-left: 12px
    &--row
      display: flex
      flex-direction: row
      justify-content: space-between
      margin-bottom: 5px
      margin-right: 10px
      &-title
        font-style: normal
        font-weight: 500
        font-size: 16px
        letter-spacing: 0.5px
        color: $textBlack
    &-row-second
      display: flex
      flex-direction: row
      justify-content: space-between
      margin-top: 5px
      margin-right: 10px
      &-title
        font-style: normal
        font-weight: 400
        font-size: 14px
        letter-spacing: 0.5px
        color: $grey-text
  &--avatar
    margin-left: 2px
    width: 33px
    height: 33px
  .token-button
    margin-top: 11px
    margin-right: 8px
    border-radius: 12px
    padding: 9px
    background-color: $primary-light
    color: $primary
    &:hover
      color: $white
      background-color: $primary
    &:disabled
      background-color: $grey-divider
      color: $white
      pointer-events: none

.v-form
  display: flex
  flex-direction: column
  margin-top: 1.6em
  &-row
    display: flex
    flex-direction: row
    align-items: center
    background-color: $white
    padding: 1.3em 10px
    border-radius: 12px
    justify-content: space-between
    margin-bottom: 10px
    .right-row
      display: flex
      flex-direction: row
      align-items: center
      align-self: flex-end
      .arrow-icon
        margin-left: 2px
        margin-right: 2px
    &-title
      font-style: normal
      font-weight: 400
      font-size: 14px
      letter-spacing: 0.5px
      color: $grey-text
    &-value
      font-style: normal
      font-weight: 400
      font-size: 16px
      letter-spacing: 0.5px
      color: $textBlack
      margin-right: 2px
      margin-left: 2px
  &-arrow-row
    display: flex
    flex-direction: row
    align-items: center
    align-self: flex-end
  .fee-btn
    font-size: 12px
    font-weight: 500
    font-style: normal
    color: $grey-text
    background-color: transparent
    padding-left: 8px
    padding-right: 8px
    margin-top: 8px
    margin-bottom: 20px
    align-self: center
  &-title
    font-style: normal
    font-weight: 500
    font-size: 15px
    color: $textBlack
    letter-spacing: 0.5px
    align-self: center
  &-middle-row
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    margin-top: 4px
    margin-bottom: 8px
    &-input
      margin-left: 18px
      margin-right: 18px
      background-color: transparent
      flex-grow: 0
      font-style: normal
      font-weight: 700
      align-self: center
      text-align: center
      letter-spacing: 0.5px
      border: none
      min-width: 60px !important
      max-width: 180px !important
      &::placeholder
        color: $grey-text
      &:focus
        outline: none!important
    .v-form-icon-container
      display: flex
      background-color: $white
      border-radius: 100px
      width: 48px
      height: 48px
      align-items: center
      justify-content: center
      box-shadow: rgba($primary, 0.05) 0 8px 24px
      &-icon
      &:hover
        background-color: $primary-light
