@import "../../styles/colors"

.infoBtn
  cursor: pointer

.messageContainer
  padding: 10px 15px
  max-width: 300px

  .message
    margin-bottom: 10px

  .right
    justify-content: right
    font-weight: 500
    .okBtn
      border-radius: 4px
      cursor: pointer
      padding: 5px
      &:hover
        background-color: darken($primary, 10)