@import "../../styles/vars.sass"

.connect-wallet
  text-align: center
  +font(500)
  display: flex
  flex-direction: column
  align-items: center
  .image
    width: 180px
    height: 180px
  .title
    font-style: normal
    font-weight: 700
    font-size: 22px
    line-height: 26px
    display: flex
    align-items: center
    text-align: center
    letter-spacing: 0.5px
    color: #001833
    margin-top: 16px
  .sub-title
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 22px
    color: #001833
    margin-top: 8px
    white-space: pre-wrap
  .buttons
    display: flex
    flex-direction: column
    position: absolute
    left: 16px
    right: 16px
    bottom: 16px
    .later
      background-color: transparent
      color: $primary
      font-style: normal
      font-weight: 500
      font-size: 15px
      letter-spacing: 0.5px
      padding: 12px
      border-radius: 12px
      margin-top: 20px
    .proceed
      background-color: $primary
      color: $white
      font-style: normal
      font-weight: 500
      font-size: 15px
      letter-spacing: 0.5px
      padding: 12px
      border-radius: 12px
      margin-top: 60px
      &:hover
        background-color: rgba($primary, 0.7)
