@import "../../../styles/colors"

.btn-container
  border: none
  background-color: transparent
  color: $blue-origin
  font-size: 14px
  &:disabled
    background-color: $grey-text
    color: $white
    &:hover
      background-color: $grey-text
      color: $white