@import "../../../styles/colors"

.liquidity-tkn-container
  flex-direction: column
  margin-bottom: 8px
  .content
    display: flex
    flex-direction: row
    background-color: $white
    border-radius: 12px
    align-items: center
    justify-content: center
    margin-top: 10px
    .row
      display: flex
      flex: 1
      flex-direction: row
      justify-content: space-between
      margin-left: 12px
      margin-bottom: 5px
      margin-right: 10px
      .title
        font-style: normal
        font-weight: 500
        font-size: 17px
        letter-spacing: 0.5px
        color: $textBlack
  .avatar
    margin-left: 2px
  .button
    margin-top: 11px
    margin-right: 8px
    border-radius: 12px
    padding: 9px
    background-color: $primary-light
    &:hover
      color: $white
      background-color: $primary
    &:disabled
      background-color: $grey-divider
      color: $white
      pointer-events: none