@import "../../../styles/colors"

.address-container
  background-color: transparent
  border: solid $white 1px
  color: $white
  border-radius: 13px
  padding: 6px 15px
  font-size: 17px
  &:hover
    border: solid $grey-text 1px
    color: $grey-text