@import "../../../styles/colors"
@import "../../../styles/vars"

.address-container
  background-color: transparent
  border: solid $white 1px
  color: $white
  border-radius: 13px
  padding: 5px 8px
  font-size: 14px
  &:hover
    border: solid $primary 1px
    color: $primary
